[submodule "sdks"]
	path = sdks
	url = https://github.com/DragonBuild/sdks.git
[submodule "src/simject"]
	path = src/simject
	url = https://github.com/KritantaDev/simject.git
	branch = dragon
[submodule "src/logos"]
	path = src/logos
	url = https://github.com/theos/logos.git
[submodule "frameworks"]
	path = frameworks
	url = https://github.com/DragonBuild/frameworks
[submodule "lib"]
	path = lib
	url = https://github.com/DragonBuild/lib
[submodule "include"]
	path = include
	url = https://github.com/DragonBuild/include
[submodule "DragonGen"]
	path = DragonGen
	url = https://github.com/DragonBuild/DragonGen
[submodule "vendor"]
	path = vendor
	url = https://github.com/DragonBuild/vendor
[submodule "device/appinfo"]
	path = device/appinfo
	url = https://github.com/DragonBuild/appinfo
